body {
    background-color: blueviolet;
    background-image: url("farm.jpg");

}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(237, 235, 241);
    text-decoration: none;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    color: rgb(255, 255, 255);
}

ul {
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

}

li {
    float: left;
    display: inline;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

li a:hover {
    background-color: #111;
}

footer {
    position: relative;
    top: 625px;
    text-align: center;
    padding: 2px;
    background-color: #333;
    color: white;

}






.container {
    position: relative;
    width: 50%;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}

.container:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}



/* Tras=nsparant background */

body {
    font-family: Arial;
    font-size: 17px;
}


.container img {
    vertical-align: middle;
}

.container .content {
    position: fixed;
    bottom: 600;
    background: rgb(0, 0, 0);
    /* Fallback color */
    background: rgba(0, 0, 0, 0.6);
    /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 98%;
    padding: 10px;
}

.footer{
   position: fixed;
   left:0;
   bottom:0;
   width:100%;
    background-color: #333;
   color:white;
   text-align: center;

}